body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.container-curso {
    padding: 20px;
    background-color: black;
  }
  
  .container-curso h1 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Gotham HTF';
    src: url('./gotham/gotham-htf-medium.woff2') format('woff2'),
      url('./gotham/gotham-htf-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  .container-curso h2 {
    color: rgba(248, 13, 90, 1);
    font-family: 'Gotham HTF';
    src: url('./gotham/gotham-htf-medium.woff2') format('woff2'),
      url('./gotham/gotham-htf-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  
  .container-inovacao {
    padding: 20px;
    background-color: black;
  }
  
  .container-inovacao h1 {
    color: rgba(255, 255, 255, 1);
  }
  
  .container-inovacao p {
    color: rgba(138, 149, 155, 1);
  }