
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}

.container {
  /* text-align: center; */
  /* position: relative; */
  height: 100vh;
  /* display: block; */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  flex-direction: column;
  
}

.container h1 {
  font-size: 4em;
  margin: 0;
  z-index: 1;
  font-family: "Gotham HTF";
  font-weight: 500;
}

.container h2 {
  margin: 0;
  font-size: 4em;
  z-index: 1;
  position: absolute;
  top: 57%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: "Gotham HTF";
  font-weight: 500;
}

.container::after {
  content: "SOBRE";
  font-size: 13em;
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  font-family: "Gotham HTF";
  font-weight: 900;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #000;
  text-align: center;
  transition: background-color 0.5s, padding 0.5s;
  z-index: 10;
}

.header img {
  height: 40px;
  transition: height 0.5s;
}

.content {
  padding: 20px;
  text-align: center;
  background-color: black;
  overflow: hidden;
}

.scrolled .header {
  background-color: #202121;
  padding: 5px 0;
}

.scrolled .header img {
  height: 30px;
}

.text1, .text-below {
  font-size: 2em;
  border-bottom: 3px solid #333;
  padding-bottom: 12px;
  margin: 20px 0;
  white-space: nowrap;
  position: relative;
  overflow: visible;
  width: fit-content;
  font-family: "Gotham HTF";
  font-weight: 500;
}

.img1 {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.img1 img {
  max-width: 60%;
  height: auto;
}

.text2, .text3 {
  color: rgba(69, 76, 79, 1);
  margin-bottom: -55px;
  top: -125px;
  position: relative;
  font-size: 50px;
  white-space: nowrap;
  overflow: visible;
  font-family: "Gotham HTF";
  font-weight: 500;
}


.top-section {
  margin: 50px 100px;
}

.title-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-section h1 {
  padding: 12px;
  font-size: 3em;
  margin: 0;
  font-family: "Gotham HTF";
  font-weight: 500;
}

.top-section .subtitle {
  color: #ff0050;
  font-size: 1.1em;
  white-space: nowrap;
  margin: 0;
  font-family: "Gotham HTF";
  font-weight: 500;
}


nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  color: rgba(138, 149, 155, 1);
  text-decoration: none;
  font-size: 1em;
  font-family: "Gotham HTF";
  font-weight: 500;
}
nav ul li a:hover {
color: #fff; 
transition: 1s;
}

section#tecnologia {
  text-align: left;
  margin: 50px 100px;
}

section#tecnologia h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
}
section#inovacao h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
}
section#negocios h2 {
  font-size: 2.5em;
  margin-bottom: 50px;
}

section#tecnologia ul {
  list-style-type: none;
  padding: 0;
}

section#tecnologia ul li {
  font-size: 1.5em;
  margin: 10px 0;
  padding-bottom: 12px;
  max-width: 850px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
section#inovacao ul li {
  font-size: 1.5em;
  margin: 10px 0;
  padding-bottom: 12px;
  max-width: 850px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}
section#negocios ul li {
  font-size: 1.5em;
  margin: 10px 0;
  padding-bottom: 12px;
  max-width: 850px;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
}

section#tecnologia ul li span {
  /* color: #aaa; */
  font-size: 0.8em;
  margin-left: 10px;
  font-family: "Gotham HTF";
  font-weight: 500;
}
.d-none {
  display: none;
}
#inovacao {
  display: none;
}

#negocios {
  display: none;
}

section#faq {
  text-align: left;
  margin: 100px 100px;
}

section#faq h2 {
  font-size: 2.5em;
  margin-bottom: -16px;
  font-family: "Gotham HTF";
  font-weight: 500;
}

section#faq h3 {
  color: #ff0050;
  font-size: 1.1em;
  margin-bottom: 60px;
  font-family: "Gotham HTF";
  font-weight: 500;
}

section#faq .faq-item {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  margin: 10px 1.5%;
}

section#faq .faq-item hr {
  width: 50px;
  
}

section#faq .faq-item:hover hr {
  width: 100%;
  border-color: #ff0050;
  transition: .3s;
}

section#faq .faq-item p {
  font-size: 1.2em;
  margin: 5px 0;
  font-family: "Gotham HTF";
  font-weight: 500;
}

section#faq .faq-answer {
  color: #ff0050;
  font-size: 1em;
  margin-top: 10px;
  opacity: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

section#faq .faq-item:hover .faq-answer{
  opacity: 1;
  transition: .3s;
}

.loading-bar-container {
  width: 100%;
  height: 1.8px;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.loading-bar {
  height: 5px;
  background-color: #ff0050;
  width: 0%;
}

.content-section {
  text-align: left;
  margin: 50px 100px;
}

.content-section h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-family: "Gotham HTF";
  font-weight: 500; 
}

.content-section ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0; 
}

.content-section ul li {
  font-size: 1.5em;
  margin: 10px 0;
  border-bottom: 3px solid #333;
  padding-bottom: 5px;
  max-width: 500px; 
}

.content-section ul li:hover {
  color: #ff0050;
  border-bottom: 3px solid #ff0050;
  transition: .3s;
  cursor: default;
}

.content-section ul li span {
  color: #aaa;
  font-size: 0.8em;
  margin-left: 10px;
}

.content-section ul li:hover span {
  color: #ff0050;
  transition: .3s;
}

.container-water {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.background-water {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content-water {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 50px;
}

.left-side, .right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.line-item {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 1.2em;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}

.curve {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.curve img {
  width: auto;
  height: 100%;
}

.courses-count {
  font-size: 3em;
  text-align: right;
  writing-mode: horizontal-tb;
  transform: none;
}